body{
	background:	#808080}
h1{
	text-align: center;
	text-transform: uppercase;
	color:;
}
h2{
	text-align: center;
	text-transform: uppercase;
	color:;
}

#banner{
	widows: 150px;
	height: 150px;
    
    vertical-align: top;
	margin: 0 1.5%
	padding: 20px 30px;
	box-sizing: border-box;
	border: 10px solid 	#000000;
	border-radius: 10px; /*/ ARREDENDAR A BORDA */
	border-style: dashed;

}
