body{
	background: #4682B4}
h1{
	text-align: center;
	text-transform: uppercase;
	color:;
}
h2{
	text-align: center;
	text-transform: uppercase;
	color:;
}

#banner{
	widows: 250px;
	height: 250px;
}